* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  overflow: hidden;
  background-color: red;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 4px;
  border-radius: 4px;
}







.header a.active {
  color: white;
}
.header-left{
  padding-left: 250px;
}


.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
 
}


.sidenav {
  height: 82vh;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
  border-color: red;
  border-right-style: solid;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  text-align: center;
  top: 20;
}



.sidenav a:hover {
  color: #dd2f2f;
}


.myprofile{
  background-color: #c9baba;
  height: 82vh;
  border-left: red;
}

.my-self {
  margin-left: 400px; 
  font-size: 16px; 
  
  padding-top: 50px;
}
.my-skills {
  margin-left: 400px; 
  font-size: 16px; 
  padding-top: 50px;
}
.my-interest {
  margin-left: 400px; 
  font-size: 16px; 
  padding-top: 50px;
}

.my-links {
  margin-left: 400px; 
  font-size: 16px; 
  padding-top: 50px;
}

.circle{
  border-radius:50%;
  display: block;
margin-left: 80px;
margin-right: 30px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: left;
}

